<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cms.dw202app_all">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!-- SMS 관련 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- GPS 관련 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dw202app_all"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"  />
        <activity android:name=".Ex1AnimationActivity" />
        <activity android:name=".Ex2GifActivity" />
        <activity android:name=".Ex3VideoActivity" />
        <activity android:name=".Ex4MediaActivity" />
        <activity android:name=".Ex5WebViewActivity" />
        <activity android:name=".Ex5WebViewExYoutube" />
        <activity android:name=".Ex5WebViewExGoogle" />
        <activity android:name=".Ex5WebViewExNaver" />
        <activity android:name=".Ex6TelActivity" />
        <activity android:name=".Ex7SmsActivity" />
        <activity android:name=".Ex8GalleryViewEx" />
        <activity android:name=".Ex9ImageViewEx" />
        <activity android:name=".Ex10PhoneCreate1Ex" />
        <activity android:name=".Ex11ListViewEx" />
        <activity android:name=".Ex12PhoneCreate2Ex" />
        <activity android:name=".Ex13SpinnerEx" />
        <activity android:name=".Ex14SwitchEx" />
        <activity android:name=".Ex15SpinnerEx" />
        <activity android:name=".Ex16IntentDataSendEx" />
        <activity android:name=".Ex16IntentDataReceiveEx" />
        <activity android:name=".Ex17IntentDataSend2Ex" />
        <activity android:name=".Ex17IntentDataReceive2Ex" />
        <activity android:name=".Ex18SharedPreferencesEx" />
        <activity android:name=".Ex19SharedPreferences2Ex" />
        <activity android:name=".Ex20Viewpager2Ex" />
        <activity android:name=".Ex21HadlerEx" />
        <activity android:name=".Ex22FragmentEx" />
        <activity android:name=".Ex23CalcActivity" />
        <activity android:name=".Ex24GpsMapEx" />
        <activity android:name=".GoogleMapSearchActivity" />
        <activity android:name=".Ex25SQLiteExJoin" />
        <activity android:name=".Ex25SQLiteExLogin" />
        <activity android:name=".Ex25SQLiteExMain" />
        <activity android:name=".Ex25JoinOkActivity" />
    </application>

</manifest>
